
@{
    ViewBag.Title = "CustomerSuccess";
   Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
@*<div id="home" class="w3ls-banner ">
    <!-- header -->
    <div class="header-w3layouts">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Car Auction</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1 class="">
                        <a href="/Home/Index">
                            <img src="~/Content/CarBookLogosized.jpg" width="70" height="70" />
                        </a>
                    </h1>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-right cl-effect-15">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li><a class="page-scroll" href="/" data-hover="Home" style="font-family:'Franklin Gothic'">Home</a></li>

                        <li><a class="page-scroll" href="/Dealer/DealerLogin" data-hover="Dealer" style="font-family:'Franklin Gothic'">Dealer</a></li>
                        <li><a class="page-scroll" href="/Customer/CustomerLogin" data-hover="Customer" style="font-family:'Franklin Gothic'">Customer</a></li>

                        <li><a class="page-scroll" href="/Car/ViewCars" data-hover="Gallery" style="font-family:'Franklin Gothic'">Gallery</a></li>

                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
    </div>*@
<div>

    <br />

    <br />
    
    <h2 style="text-align:center">Your Registration was Successful; Check Your Email for Username and Password.</h2>

</div>